 
 /*unversal selector  */

 *{
    font-family:'Courier New';  
     
}

/* element selector */

h3{
    color: purple;
}

h1{
    color:#b92b97;
}

/* id selector */

#login {
    background-color: white;
}
#signup {
    background-color: #b92b97;
    color:white; 
    
}

/* class selector */

.upvote{
    background-color:green;
    color:white;
}

/* id selector */

#myid p{
    color:green;
}


/* descendent selector */
.post a{
    color: red;
    background-color: blanchedalmond;
}

nav ul li a{
    color:chartreuse;

}

/* adjacent sibling combinator */

p+h3{
    text-decoration:underline;
}

.upvote + button{
    background-color:aqua;
    color:black;
}

/* child combinator */

div > input{
    background-color: darkslategray ;
}

/* attribute selelctor */

/* value based */
input[type="text"]{
    color:red;
}
input[type="passward"]{
    color:green;
}
/* presence */
input[type]{
    background-color:ghostwhite ;
}
