#container{
   height: 300px;
   width: 80%;
   background-color: azure;
   margin: 10px auto;
   border:2px solid black;
   display:flex;
   flex-direction:row;

   /* Justify content */
   
    justify-content: flex-start;

    /* flex wrap */
    flex-wrap: wrap;
    
    /* Align Items */
    /* align-items:flex-start; */

    /* Align Content */

    align-content:center;

   
}
h1{
    text-align: center;
}
#container div{
    height:50px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}